/* SLIDE 0
 * -----------------------------------------------------------------------
 */
#cover {
  background-image: url('../media/img/cover.png');
  background-size: cover;
  text-align: center;
}
#cover h2 {
  font-size: 2.7em;
  color: #363636;
  margin-top: 0.8em;
}
#cover p {
  font-size: 1em;
  color: #4D4D4D;
  margin-top: 0.8em;
}

/* SLIDE 1
 * -----------------------------------------------------------------------
 */

#introduction ul {
  margin-top: 2em;
  font-size: 1.8rem;
}
#introduction li {
  margin-bottom: 1em;
}

#introduction img {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* SLIDE 2
 * -----------------------------------------------------------------------
 */
#wot ul {
  font-size: 0.9em;
}
#wot img {
  width: 40%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
}
#wot figcaption {
  font-size: 0.5em;
  font-style: italic;
  text-align: center;
}


/* SLIDE 3
 * -----------------------------------------------------------------------
 */
#blockchain img {
  width: 65%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
}
#blockchain figcaption {
  font-size: 0.5em;
  font-style: italic;
  text-align: center;
}

/* SLIDE 4
 * -----------------------------------------------------------------------
 */
#proposal img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  transform:translate(-10%, 5%);
}

#proposal ul {
  margin-top: 1.5em;
}

#proposal li {
  margin-bottom: 0.5em;
}

/* SLIDE 5
 * -----------------------------------------------------------------------
 */
#relatedWork .yes {
  color: green;
}
#relatedWork .no {
  color: red;
}
#relatedWork .yesno {https://aws.amazon.com/blockchain/
  color: orange;
}

#relatedWork table {
  /* Overwrite default values */
  margin-left: 0;
  width: 100%;
}
#relatedWork th,
#relatedWork td {
  text-align: center;
}
#relatedWork th[scope="row"] {
  font-weight: normal;
}
#relatedWork tr:first-of-type {
  background-color: #ECECEC;
}
#relatedWork .small {
  font-size: 0.8em;
  font-style: italic;
}

/* SLIDE 6 AND 7
 * -----------------------------------------------------------------------
 */
#evaluation img {
  width: 100%;
}
#evaluation2 video {
  width: 80%;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
}

/* SLIDE 8
 * -----------------------------------------------------------------------
 */
#futureWork ul {
  font-size: 1.5rem;
  margin-top: 2em;
}

#futureWork li {
  margin-bottom: 0.8em;
}


/* SLIDE 9
 * -----------------------------------------------------------------------
 */

/* SLIDE 10
 * -----------------------------------------------------------------------
 */
#references {
  font-size: 0.6em;
}

#references .author {
  font-style: italic;
  display: block;
}

/* SLIDE 11
 * -----------------------------------------------------------------------
 */
#appendix0 p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/* SLIDE 12
 * -----------------------------------------------------------------------
 */
#appendix1 p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

#appendix1 span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#appendix1 hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#appendix1 div:nth-of-type(1) {
  position: absolute;
  left: 42%;
  top: 32%;
  color: gray;
}

#appendix1 div:nth-of-type(2) {
  position: absolute;
  left: 42%;
  top: 42%;
  color: gray;
}
