/* PT Sans */

@font-face {
    font-family: 'PT Sans';
    font-display: swap;
    src:
        local('PT Sans'),
        local('PTSans-Regular'),
        url('pt-sans-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-weight: bold;
    font-display: swap;
    src:
        local('PT Sans Bold'),
        local('PTSans-Bold'),
        url('pt-sans-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-display: swap;
    src:
        local('PT Sans Italic'),
        local('PTSans-Italic'),
        url('pt-sans-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src:
        local('PT Sans Bold Italic'),
        local('PTSans-BoldItalic'),
        url('pt-sans-bold-italic.woff2') format('woff2');
}

/* PT Narrow */

@font-face {
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-display: swap;
    src:
        local('PT Sans Narrow Bold'),
        local('PTSans-NarrowBold'),
        url('pt-sans-narrow-bold.woff2') format('woff2');
}

/* PT Mono */

@font-face {
    font-family: 'PT Mono';
    font-display: swap;
    src:
        local('PT Mono'),
        local('PTMono-Regular'),
        url('pt-mono-regular.woff2') format('woff2');
}
